.kanbanBoardContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    .column{
        height: 100%;
        padding: 0.5rem;
        .columnHeader{
        }   
    }
    .notStarted{
        .globalCard{
            // border-left: 3px solid $red;
            hr{
                border-top: 3px solid $red;
            }
        }
    }
    .inProgress{
        // border-left: 1px solid #ece9e9;
        // border-right: 1px solid #ece9e9;
        .globalCard{
            // border-left: 3px solid $yellow;
            hr{
                border-top: 3px solid $yellow;
            }
        }
    }
    .done{
        .globalCard{
            // border-left: 3px solid $green;
            hr{
                border-top: 3px solid $green;
            }
        }
    }
}