.mainProjectPage{
    .projectInfo{
    }
    .projectTasks{
        .task {
            border-left: 3px solid $accent-color;
            cursor: pointer;
            @at-root #{&}-name {
            }
            @at-root #{&}-status {
                padding: 4px 5px;
            }
            @at-root #{&}-due {
            }
            &:hover{
                box-shadow: $box-shadow;
            }
        }
    }
    
    .projectQuestions{     
    }
    .projectNotes{
    }
}