.mainProjectPage{
    .projectInfo{
    }
    .projectTasks{
        .task {
            border-left: 3px solid $accent-color;
            cursor: pointer;
            @at-root #{&}-name {
            }
            @at-root #{&}-status {
                padding: 4px 5px;
            }
            @at-root #{&}-due {
            }
            &:hover{
                box-shadow: $box-shadow;
            }
        }
    }
    
    .projectQuestions{     
    }
    .projectNotes{
    }
    // Calendar 
    .vdp-datepicker__calendar{
        width: 100%;
        border: 0;
        box-shadow: 0px 2px 4px 0 rgba(48, 65, 150, 0.08);
        .cell.selected{
            background: $accent-color;
        }
    }
   
}