
// Fonts
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

// Variables
@import 'variables';
@import 'navbar';
@import 'dashboard';
@import 'project';
@import 'kanban';
@import 'profile';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Landing page
#landing{
    background: linear-gradient(to bottom, #18c08a, #72ffd8);
    height: calc(100vh - 58.22px);
    .landing-content{
        h1{
            font-size: 3.5rem;
        }
    }
}

main{
    padding-top: 72px;
    padding-left: 72px;
}

.globalCard{
    background: #fff;
    box-shadow: 0px 2px 4px 0 rgba(48, 65, 150, 0.08);
    border-radius: 0;
    padding: 1rem;
}

.progress{
    .progress-bar{
        background: $accent-color;
    }
}

.btn-global{
    background: $accent-color;
    border-color: $accent-color;
    color: #fff;
    &:hover{
        background: $accent-color-dark;
        border-color: $accent-color-dark;
    }
}

.btn-landing{
    background: #fff;
    border-color: #fff;
    color: $accent-color;
    border-radius: 2px;
    box-shadow: 1px 1px 18px -3px #777;
    &:hover{
        background: $accent-color;
        border-color: $accent-color;
        color: #fff;
    }
}

.badge-global{
    background: $accent-color;
    color: #fff;
}

.globalInput{
    border: none;
    border-bottom: 2px solid $accent-color-dark;
    background: rgba(0, 0, 0, 0);
    border-radius: 0;
}

.--accentColor{
    color: $accent-color-dark;
}

.heading{
    padding-top: 1px;
    margin-top: 80px;
}

//media queries
@media all and (max-width: 991px){
    .projectTasks{
        margin-bottom: 1rem;
    }
}
@media all and (max-width: 576px){
    #landing{
        .landing-content{
            h1{
                font-size: 2rem;
            }
        }
    }
}

@media all and (max-width: 500px){
    #top-nav{
        .nav-items{
            .nav-left{
                visibility: hidden;
            }
            .nav-right{
                .mobileDropdown{
                    display: block;
                }
                .deskItem{
                    display: none;
                }
            }
        }
    }
    #side-nav{
        height: 0;
    }
    main{
        padding-left: 0px;
    }
}